<div *ngIf="task" class="row">
    <div class="col s12 m8 offset-m2">
    <h2 class="header center">{{ task.name }}</h2>
    <div class="card horizontal hoverable">
      <div class="card-image">
        <!-- Chart -->
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <table class="bordered striped">
            <tbody>
              <tr>
                <td>Name</td>
                <td><strong>{{ task.name }}</strong></td>
              </tr>
              <tr>
                <td>Management</td>
                <td><strong>{{ task.management }}</strong></td>
              </tr>
              <tr>
                <td>Developer</td>
                <td><strong>{{ task.developer }}</strong></td>
              </tr>

            </tbody>
          </table>
        </div>
        <div class="card-action">
          <a>Edit</a>
          <a>Delete</a>
          <a>Go Back</a>
        </div>
      </div>
    </div>
    </div>
    </div>
    <h4 *ngIf='!task' class="center">No Task to display !</h4>
